 <section id="fotos">
        <div class="section-container">
          

            <div class="flex-group food-section">
                <div class="food-container">
                    <img src="img/balada1.jpg" alt="fotos da balada1"
                        title="so mandelao" />
                
                </div>
                <div class="food-container">
                    <img src="img/balada2.jpg" alt="Foto da balada2"
                        title="brota maldita" />
                    
                </div>
                <div class="food-container">
                    <img src="img/balada5.jpg" alt="Foto da balada4"
                        title="vem balança a raba" />
                   
                </div>

                <div class="food-container">
                    <img src="img/baladas3.jpg" alt="Foto da balada4"
                        title="vem balança a raba" />
                   
                </div>
                
                <div class="food-container">
                    <img src="img/baladas4.jpg" alt="Foto da balada4"
                        title="vem balança a raba" />
                   
                </div>

                
                    <div class="food-container">
                        <img src="img/balada1.jpg" alt="fotos da balada1"
                            title="so mandelao" />
                       
                    </div>
                    <div class="food-container">
                        <img src="img/balada2.jpg" alt="Foto da balada2"
                            title="brota maldita" />
                        
                    </div>
                    <div class="food-container">
                        <img src="img/balada5.jpg" alt="Foto da balada4"
                            title="vem balança a raba" />
                       
                    </div>
    
                    <div class="food-container">
                        <img src="img/baladas3.jpg" alt="Foto da balada4"
                            title="vem balança a raba" />
                       
                    </div>
                    
                    <div class="food-container">
                        <img src="img/baladas4.jpg" alt="Foto da balada4"
                            title="vem balança a raba" />
                       
                    </div>

                    
                        <div class="food-container">
                            <img src="img/balada1.jpg" alt="fotos da balada1"
                                title="so mandelao" />
                           
                        </div>
                        <div class="food-container">
                            <img src="img/balada2.jpg" alt="Foto da balada2"
                                title="brota maldita" />
                            
                        </div>
                        <div class="food-container">
                            <img src="img/balada5.jpg" alt="Foto da balada4"
                                title="vem balança a raba" />
                           
                        </div>
        
                        <div class="food-container">
                            <img src="img/baladas3.jpg" alt="Foto da balada4"
                                title="vem balança a raba" />
                           
                        </div>
                        
                        <div class="food-container">
                            <img src="img/baladas4.jpg" alt="Foto da balada4"
                                title="vem balança a raba" />
                            </div>
                         </section>