 <main>
        <h2>Login</h2>
        <form method="POST" action='@Url.Action("Login","Cliente")'>

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" name = "email" />
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" name= "senha" />
            </div>

            <input type="submit" value="Entrar!"/>

        
        </form>
    </main>

 

   
     <main>
        <h2>cadastro</h2>
        <form method="POST" action='@Url.Action("CadastrarCliente","Cliente")'>
            <div>
                <label for="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" name="nome"/>
            </div>

            <div>
                <label for="email">E-mail</label>
                <br />
                <input name="email" id="email" type="email" />
            </div>
            <div>
                <label for="senha">senha</label>
                <br />
                <input name="senha" id="senha" type="password" />
            </div>
            <div>
                <label for="cpf">cpf ou cnpj</label>
                <br />
                <input id="cpf" type="text"  maxlength="11" minlength="3" name="cpf" />
            </div>
            

            <input type="submit" value="Finalizar cadastro" />
        
            </form>
     </main>