 <main>
        <h2>Login</h2>
        <form method="POST" action="aprovar-eventos-adm.html">

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" />
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" />
            </div>

            <a onclick="toggleMobileMenu()"  href="pacotes.html">entrar</a>
        </form>

    </main>

 

   
     <main>
        <h2>cadastro</h2>
        <form method="GET" action="index.html">
            <div>
                <label for="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" name="nome"/>
            </div>

            <div>
                <label for="endereco">cpf ou cnpj</label>
                <br />
                <input id="endereco" type="text" maxlength="20" minlength="3" name="endereco" />
            </div>
            
            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" />
            </div>
            <div>
                <label for="senha">senha</label>
                <br />
                <input id="senha" type="password" />
            </div>

            <a onclick="toggleMobileMenu()"  href="pacotes.html">entrar</a>
        
            </form>
     </main>